footer {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 40px;
  margin-right: 16px;
}

h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 64px;
  // margin-bottom: 40px;
}

h3 {
  color: #8B8B8B;
  font-family: montserrat;

  font-weight: 500;
  font-size: 20px;
}

.paragraph {
  font-family: montserrat;
  font-weight: 600;
  font-size: 40px;

}

.firstDiv {
  width: 780px;
  height: 150px;
  background-color: #F2F6D3;
  flex-shrink: 0;
  border-radius: 12px;
}

.thirdDiv {
  width: 780px;
  height: 150px;
  background-color: #F2F6D3;
  flex-shrink: 0;
  border-radius: 12px;
}

.secondDiv {
  width: 548px;
  height: 150px;
  background-color: #F2F6D3;
  flex-shrink: 0;
  border-radius: 12px;
}

.fourthDiv {
  width: 548px;
  height: 150px;
  background-color: #F2F6D3;
  flex-shrink: 0;
  border-radius: 12px;
}

.contSection {
  display: flex;
  flex-wrap: wrap;
  width: 1360px;
  height: 376px;
  gap: 32px;
}

.paragraph {
  font-family: Montserrat;
  font-size: semibold;
  font-size: 30px;
  margin-top: 16px;
  margin-left: 32px;
  text-decoration: none;
}

h3 {
  font-family: Montserrat;
  font-weight: 20px;
  margin-left: 32px;
  margin-top: 32px;
}

.map {
  margin-top: 32px;
  width: 1360px;
  height: 350px;
  border: 1px solid black;
}

@import '../../constants/media.scss';

@media (#{$desktop}) {

  .firstDiv {
    width: 470px;
    height: 150px;
  }

  .secondDiv {
    width: 470px;
    height: 150px;
  }

  .thirdDiv {
    width: 470px;
    height: 238px;
  }

  .fourthDiv {
    width: 470px;
    height: 238px;
  }

  .mapConteiner {
    width: 960px;
    height: 250px;
  }

}

@media (#{$tablet}) {

  .contSection {
    width: 728px;
    height: 408px;
    gap: 20px;
  }

  .firstDiv {
    width: 479px;
    height: 150px;
  }

  .secondDiv {
    width: 229px;
    height: 150px;
  }

  .thirdDiv {
    width: 479px;
    height: 238px;
  }

  .fourthDiv {
    width: 229px;
    height: 238px;
  }

  .mapConteiner {
    width: 728px;
    height: 250px;
  }

}

@media (#{$mobileLarge}) {

  .contSection {
    width: 440px;
    height: 525px;
    gap: 12px;
    display: flex;
  }

  .firstDiv {
    width: 440px;
    height: 114px;
  }

  .secondDiv {
    width: 440px;
    height: 92px;
  }

  .thirdDiv {
    width: 440px;
    height: 145px;
  }

  .fourthDiv {
    width: 440px;
    height: 114px;
  }

  .mapConteiner {
    width: 320px;
    height: 250px;
  }

}

@media (#{$mobile}) {}

.mapConteiner {
  // background-image: url('/assets/images/map.png');
  width: 1360px;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 12px;
}
