.mainWrapper {
  margin-left: 40px;
}

.wrapper {
  height: 1360px;
  display: flex;
  margin-left: 13px;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 64px;
}
